.btn-option {
  display: block;
  width: 200px;
  height: 3rem;
  padding: 0.5rem;
  background-color: #555;
  color: white;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 0.5rem;
}
.btn-option:hover {
  background-color: #777;
}
