<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-overlay z-10000">
  <div class="fixed inset-0 bg-black opacity-50"></div>
  <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-96 relative z-10">
    <div class="border-b pb-2 mb-4 flex justify-center">
      <h2 class="text-primary text-lg font-bold">{{ header }}</h2>
    </div>
    <p class="text-primary text-base leading-normal mb-4">{{ message }}</p>
    <div class="flex justify-center">
      <button
        class="cursor-pointer inline-block font-sans text-lg leading-none py-2 px-4 border border-solid border-gray-800 bg-gray-800 text-white uppercase font-semibold rounded-lg transition duration-300 ease-in-out hover:bg-gray-700 hover:shadow-lg"
        (click)="closeModal()"
      >
        <span class="truncate">Aceptar</span>
      </button>
    </div>
  </div>
</div>