.btn-option {
    display: block; /* Asegura que los botones se coloquen uno encima del otro */
    width: 150px; /* Ancho fijo basado en el bot칩n con el texto m치s largo */
    height: 3rem; /* Altura ajustada para que coincida con los select */
    padding: 0.5rem; /* Espaciado interno ajustado */
    background-color: #555; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 0.5rem; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transici칩n suave */
    text-align: center; /* Centra el texto */
    margin-bottom: 0.5rem; /* Espaciado inferior entre botones */
  }
  
  .btn-option:hover {
    background-color: #777; /* Color de fondo al pasar el rat칩n */
  }
  
  .form-input {
    height: 3rem; /* Altura ajustada */
    padding-left: 10px; /* Espaciado interno ajustado */
    padding-right: 10px; /* Espaciado interno ajustado */
  }