<header class="flex items-center whitespace-nowrap border-b border-solid border-b-[#e5e7eb] px-10 py-5 min-h-[72px]">
  <div class="flex items-center gap-4 text-[#111418]">
    <img src="/assets/images/logocanon.jpg" alt="Logo" class="h-6 w-30" />
    <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] flex items-center">Sistema de Configuración Central de Lealtad</h2>
  </div>
</header>
    <!-- 

         <div class="flex flex-1 justify-end gap-8">
      <div class="flex items-center gap-9">
        <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Home</a>
        <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Usuarios</a>
        <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Cartilla de Usuarios</a>
      </div>
      <div class="flex gap-2">
        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#1980e6] text-white text-sm font-bold leading-normal tracking-[0.015em]">
          <span class="truncate">New</span>
        </button>

      </div>
    </div>
    -->

