/* Estilos para los switches toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #cf5117;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cf5117;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Estilos para los contenedores de layout */
.layout-content-container {
  margin-left: 320px;
  transition: margin-left 0.3s ease;
}

.layout-content-container-expanded {
  margin-left: 64px;
  transition: margin-left 0.3s ease;
}